.header {
  background-color: #FFD700;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}



.row{
    content: "";
    display: flex;
    clear: both;
    justify-content: center;
}

.footer{
    background-color:#96d7f8;
    height: 70px;
    width: 100%;
    position: relative;
    bottom:0;
    left: 0;
    margin-top: 145px;
    text-align: center
}

